body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  max-width: 900px !important;
  margin: 20px auto !important;
}
.MuiFormControl-root {
  width: 100%;
}
.MuiGrid-root {
  margin: 0px 10px;
}
.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.infected .MuiPaper-outlined {
  border-bottom: 10px solid rgba(0, 0, 255, 0.5);
}
.infected .MuiPaper-outlined:hover {
  border-top: 10px solid rgba(0, 0, 255, 0.5);
}

.recovered .MuiPaper-outlined {
  border-bottom: 10px solid rgba(0, 255, 0, 0.5);
}
.recovered .MuiPaper-outlined:hover {
  border-top: 10px solid rgba(0, 255, 0, 0.5);
}

.death .MuiPaper-outlined {
  border-bottom: 10px solid rgba(255, 0, 0, 0.5);
}

.death .MuiPaper-outlined:hover {
  border-top: 10px solid rgba(255, 0, 0, 0.5);
}
